<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IBuscarProducto" />
                <binding name="WSDualHttpBinding_IRegistrarPedidoADomicilio" />
                <binding name="WSDualHttpBinding_IRegistrarIngrediente" />
                <binding name="WSDualHttpBinding_IBuscarIngrediente" />
                <binding name="WSDualHttpBinding_IEditarIngrediente" />
                <binding name="WSDualHttpBinding_IModificarProducto" />
                <binding name="WSDualHttpBinding_IRecuperarProductos" />
                <binding name="WSDualHttpBinding_ILogin" />
                <binding name="WSDualHttpBinding_IRegistrarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IModificarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IObtenerCuentasUsuario" />
                <binding name="WSDualHttpBinding_IEliminarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IRegistrarProducto" />
                <binding name="WSDualHttpBinding_IRegistrarReceta" />
                <binding name="WSDualHttpBinding_IRegistrarPedidoLocal" />
                <binding name="WSDualHttpBinding_IConsultarInventario" />
                <binding name="WSDualHttpBinding_IEditarReceta" />
                <binding name="WSDualHttpBinding_IGenerarRespaldo" />
                <binding name="WSDualHttpBinding_IObtenerRecetas" />
            </wsDualHttpBinding>
        </bindings>
        <client>
             
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.54" newVersion="18.1460.0.54" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>