<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IBuscarProducto" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                </binding>
                <binding name="WSDualHttpBinding_IRegistrarIngrediente" />
                <binding name="WSDualHttpBinding_IBuscarIngrediente" />
                <binding name="WSDualHttpBinding_IEditarIngrediente" />
                <binding name="WSDualHttpBinding_IModificarProducto" />
                <binding name="WSDualHttpBinding_IRecuperarProductos" />
                <binding name="WSDualHttpBinding_ILogin" />
                <binding name="WSDualHttpBinding_IRegistrarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IModificarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IObtenerCuentasUsuario" />
                <binding name="WSDualHttpBinding_IEliminarCuentaUsuario" />
                <binding name="WSDualHttpBinding_IObtenerRecetas" />
                <binding name="WSDualHttpBinding_IRegistrarProducto" />
                <binding name="WSDualHttpBinding_IRegistrarReceta" />
                <binding name="WSDualHttpBinding_IConsultarInventario" />
                <binding name="WSDualHttpBinding_IEditarReceta" />
                <binding name="WSDualHttpBinding_IGenerarRespaldo" />
                <binding name="WSDualHttpBinding_INotificarPedido" />
                <binding name="WSDualHttpBinding_IAdministrarPedidosCallCenter" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                </binding>
                <binding name="WSDualHttpBinding_IAdministrarPedidosMeseros" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                </binding>
                <binding name="WSDualHttpBinding_IBuscarPedidos" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IBuscarProducto" contract="Servicio.IBuscarProducto"
                name="WSDualHttpBinding_IBuscarProducto">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IAdministrarPedidosCallCenter"
                contract="Servicio.IAdministrarPedidosCallCenter" name="WSDualHttpBinding_IAdministrarPedidosCallCenter">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRegistrarIngrediente"
                contract="Servicio.IRegistrarIngrediente" name="WSDualHttpBinding_IRegistrarIngrediente">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IBuscarIngrediente"
                contract="Servicio.IBuscarIngrediente" name="WSDualHttpBinding_IBuscarIngrediente">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IEditarIngrediente"
                contract="Servicio.IEditarIngrediente" name="WSDualHttpBinding_IEditarIngrediente">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IModificarProducto"
                contract="Servicio.IModificarProducto" name="WSDualHttpBinding_IModificarProducto">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRecuperarProductos"
                contract="Servicio.IRecuperarProductos" name="WSDualHttpBinding_IRecuperarProductos">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ILogin" contract="Servicio.ILogin"
                name="WSDualHttpBinding_ILogin">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRegistrarCuentaUsuario"
                contract="Servicio.IRegistrarCuentaUsuario" name="WSDualHttpBinding_IRegistrarCuentaUsuario">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IModificarCuentaUsuario"
                contract="Servicio.IModificarCuentaUsuario" name="WSDualHttpBinding_IModificarCuentaUsuario">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IObtenerCuentasUsuario"
                contract="Servicio.IObtenerCuentasUsuario" name="WSDualHttpBinding_IObtenerCuentasUsuario">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IEliminarCuentaUsuario"
                contract="Servicio.IEliminarCuentaUsuario" name="WSDualHttpBinding_IEliminarCuentaUsuario">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IObtenerRecetas" contract="Servicio.IObtenerRecetas"
                name="WSDualHttpBinding_IObtenerRecetas">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRegistrarProducto"
                contract="Servicio.IRegistrarProducto" name="WSDualHttpBinding_IRegistrarProducto">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRegistrarReceta"
                contract="Servicio.IRegistrarReceta" name="WSDualHttpBinding_IRegistrarReceta">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IAdministrarPedidosMeseros"
                contract="Servicio.IAdministrarPedidosMeseros" name="WSDualHttpBinding_IAdministrarPedidosMeseros">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IConsultarInventario"
                contract="Servicio.IConsultarInventario" name="WSDualHttpBinding_IConsultarInventario">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IEditarReceta" contract="Servicio.IEditarReceta"
                name="WSDualHttpBinding_IEditarReceta">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IGenerarRespaldo"
                contract="Servicio.IGenerarRespaldo" name="WSDualHttpBinding_IGenerarRespaldo">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_INotificarPedido"
                contract="Servicio.INotificarPedido" name="WSDualHttpBinding_INotificarPedido">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IBuscarPedidos" contract="Servicio.IBuscarPedidos"
                name="WSDualHttpBinding_IBuscarPedidos">
                <identity>
                    <userPrincipalName value="LAPTOP-00HUME02\BETO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.54" newVersion="18.1460.0.54" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>